h2 {
  color: #1e0c73;
}

#audio1-accesible {
  width: 100px;
  height: 10px;
  text-align: center;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}

.formación {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

#header img {
  width: 330px;
  margin-left: 0;
  margin-top: 0;
}
.navbar-light .navbar-nav.active>.nav-link.show, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #ff6b00;
}
.navbar-light .navbar-nav .nav-link:focus-within, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
  outline: 3px solid #ff6b00;
}
:focus {
  outline: 3px solid #ff6b00;
}

.navbar-light .navbar-nav .nav-link {
  color: #1e0c73;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6b00;
}

#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
  /* filter: grayscale(70%); */
}

#carousel {
  position: static;
  margin-bottom: 10px
}

#carousel .overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#formación {
  background-color:  #111229;
  color: white;
}

#formación img {
  max-width: 100%;
}

#preparación-laboral {
  background-color: #111229;
}
#contactanos {
  margin-top: 20px;
  padding: 40px;;
}
#atencion_pcd audio {
  text-align: center;
}

#carousel-empresas {
  margin-left: 50px;
  position: static;
  margin-bottom: 10px
}

.carousel-control-prev-icon{
  background-image: url(images/flecha.PNG);
  width: 60px;
  height: 50px;
  margin-left: 40px;
}
.carousel-control-next-icon {
  background-image: url(images/flecha.PNG);
  width: 60px;
  height: 50px;
  margin-right: 10px;
}


