/* border: 10px solid red; */
    /* background-color: rgb(31, 44, 48); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}
p {
    font-size: 1.8rem;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    font-size: 1.6rem;
}
.menu {
    position: sticky;
    top: 0;
}
.container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(31, 44, 48);
    text-align: center;
    justify-content: center;
} 
a {
    text-decoration: none;
    color: white;
}
.nav-img {
    width: 10rem;
}
.container li a:active {
    color: #FFD65B;
}


.item {
    list-style: none;
    /* background: lightblue; */
    padding: 1rem;
    /* border: 1px solid red; */
    align-self: center;
    justify-content: center;
}
.item:nth-of-type(1) {
    text-align: start;
    margin-left: 10rem;
}
.item:nth-of-type(6) a{
    color: #FFD65B;
}

.main {
    background-color: rgb(31, 44, 48);
    border-inline-start: 4rem solid #FFD65B;
}
.main h1 {
    animation-duration: 3s;
    animation-name: slidein;
} 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 2.2%;
      width: 100%;
    }
  }
.txt-on {
    margin: 2.5rem;
    font-size: 8rem;
    color: white;
    position: absolute;
    top: 30%;
}
.line {
    top: 44%;
    position: absolute;
    background-color: #FFD65B;
    height: 10px;
    width: 60%;
    margin: 30px;
}
.logo-main {
    width: 20rem;
    position: absolute;
    top: 23%;
    margin: 30px;
}
.txt-down {
    margin-left: 3%;
    padding: 1rem;
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 52%;
    background-color:  rgb(31, 44, 48);
    border-radius: 1rem;
}
.img-main {
    width: 100%;
}
.nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    /* border: 10px solid red; */
    border-inline-start: 4rem solid #FFD65B;
}
.nosotros img {
    height: 100vh;
}

.nosotros-txt {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* text-align: justify; */
    padding: 4rem;
    /* border: 10px solid red; */
    
}
.nosotros-txt h1 {
    margin-top: 10rem;
    /* border: 3px solid red; */
    align-self: end;
}
hr {
    background-color: #FFD65B;
    height: 10px;
    width: 80%;
    /* border: 3px solid red; */
}
.nosotros-txt h3 {
    margin-top: 1rem;
    /* border: 3px solid red; */
    align-items: justify;
}
.como-funciona {
    background-color: #1F2C30;
    display: grid;
    grid-template-rows: 35vh 60vh;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 10px solid red; */
    border-bottom: 5vh solid #FFD65B;
}
.como-funciona h2 {
    color: #FFD65B;
    text-align: center;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.como-funciona h2 hr {
    background-color: #FFD65B;
    width: 30%;
    margin: auto;
}
.item-2 {
    color: #FFD65B;
    text-align: center;
    align-self: start;
}
.como-funciona p {
    color: white;
    margin: 3rem 9rem;
}
#testimonios {
    background-color: white;
}
#titulo-exito {
    color: #1F2C30;
}
.item-3 {
    color: #1F2C30;
    text-align: center;
    align-self: start;
}
.como-funciona .last-parrafo {
    color: #1F2C30;
    margin: 3rem 9rem;
}
.last-section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(./images/final.jpg);
    border-inline-end: 4rem solid #FFD65B;
}
.last-items {
    color: white;
    padding: 2rem;
    margin-top: 2.5rem;
}
.last-items:nth-of-type(1) {
    align-self: center;
}
.last-items:nth-of-type(1) hr {
    width: 31rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.last-items:nth-of-type(3) {
    text-align: center;
    align-self: end;
}
.last-items:nth-of-type(3) hr {
    margin: auto;
    width: 31rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.last-items:nth-of-type(4) {
    align-self: end;
}
.last-items:nth-of-type(4) hr {
    width: 31rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.last-items:nth-of-type(5) {
    color: rgb(130, 253, 92);
}
.last-items:nth-of-type(6) {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

button {
    margin: 0.5rem;
    display: block;
    height: 4rem;
    width: 19rem;
    border-radius: 10rem;
}

.simulacion {
    padding: 1rem;
    height: 3rem;
    margin: 0.5rem;
    display: block;
    border-radius: 2rem;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
   body {
       font-size: 0.3;
   }
   .line {
    top: 40%;
    position: absolute;
    background-color: #FFD65B;
    height: 1rem;
    width: 60%;
    margin: 3rem;
    }
    .container {
        display: block;
        height: auto;
        padding: 0;
    }
    .nav-img {
        display: none;
    }
    li.item {
        display: flex;
        flex-wrap: wrap;
        margin: 0.4rem;
        margin-left: 0;
        padding: 0;
        left: 0;
    }
    .main {
        border-inline-start: none;
    }
    .logo-main {
        width: 10rem;
        position: absolute;
        top: 20%;
        margin: 30px;
    }
    .txt-on {
        font-size: 6rem;
        color: white;
        position: absolute;
        top: 28%;
    }
    .txt-down {
        margin-left: 3%;
        padding: 1rem;
        font-size: 2rem;
        color: white;
        position: absolute;
        top: 48%;
        background-color:  rgb(31, 44, 48);
        border-radius: 1rem;
    }
    .item:nth-of-type(1) {
        text-align: start;
        margin-left: 6rem;
    }
    .nosotros {
        display: flex;
        flex-wrap: wrap-reverse;
        border-inline-start: none;
    }
    .como-funciona {
        height: 180vh;
        display: flex;
        flex-wrap: wrap;
        border-inline-start: none;
        align-items: center;
    }
    .item-2 {
        width: 100%;
    }

    .como-funciona h2{
        margin: auto;
        padding: 1rem;
    }
    .como-funciona hr {
        display: none;
    }
    .como-funciona img {
        width: 20%;
    }
    .last-section{
        display: flex;
        flex-wrap: wrap;
    }
    .last-section {
        width: 100%;
        height: 150vh;
        display: flex;
        flex-wrap: wrap;
        background-image: url(./images/final.jpg);
        border-inline-end: none;
        }
        .last-items {
            height: 10%;
            margin: 0;
        }
        .item-3 {
            width: 100%;
        }
        .last-items:nth-of-type(2) {
        display: none;
        }
        .last-items:nth-of-type(3) {
            display: none;
        }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 0.1;
    }
    .line {
     top: 20%;
     position: absolute;
     background-color: #FFD65B;
     height: 1rem;
     width: 60%;
     margin: 3rem;
     }
     .container {
        display: block;
        height: auto;
        padding: 0;
     }
     .item:nth-of-type(1) {
         display: none;
     }
     li.item {
         display: flex;
         flex-wrap: wrap;
         margin: auto;
     }
     a {
         font-size: 1.2rem;
     }
     .main {
         border-inline-start: none;
     }
 
     .logo-main {
         width: 7rem;
         position: absolute;
         top: 10%;
         margin: 2rem;
     }
     .txt-on {
         font-size: 4rem;
         color: white;
         position: absolute;
         top: 13%;
     }
     .txt-down {
         margin-left: 7%;
         padding: 1rem;
         font-size: 1rem;
         color: white;
         position: absolute;
         top: 28%;
         background-color:  rgb(31, 44, 48);
         border-radius: 1rem;
     }
     .item:nth-of-type(1) {
         text-align: start;
         margin-left: 6rem;
     }
     .nosotros {
         display: flex;
         flex-wrap: wrap-reverse;
         border-inline-start: none;
     }
     .nosotros img {
        height: 60vh;
    }
     .nosotros-txt {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    .nosotros-txt h1 {
        margin-top: 0.7rem;
        /* border: 3px solid red; */
        align-self: start;
        font-size: 5rem;

    }
    hr {
        height: 10px;
        width: 90%;
        /* border: 3px solid red; */
    }
    .nosotros-txt h3 {
        margin-top: 1rem;
        /* border: 3px solid red; */
        align-items: justify;
        font-size: 2rem;
    }
     
     .como-funciona {
         height: 180vh;
         display: flex;
         flex-wrap: wrap;
         border-inline-start: none;
         align-items: center;
     }
     .item-2 {
         width: 100%;
     }
 
     .como-funciona h2{
         margin: auto;
         padding: 1rem;
     }
     .como-funciona hr {
         display: none;
     }
     .como-funciona img {
         width: 20%;
     }
     .last-section{
         display: flex;
         flex-wrap: wrap;
     }
     .last-section {
         width: 100%;
         height: 150vh;
         display: flex;
         flex-wrap: wrap;
         background-image: url(./images/final.jpg);
         border-inline-end: none;
         }
         .last-items {
             height: 10%;
             margin: 0;
         }
         .item-3 {
             width: 100%;
         }
         .last-items:nth-of-type(2) {
         display: none;
         }
         .last-items:nth-of-type(3) {
             display: none;
         }
         button {
            margin: 0.3rem;
            display: block;
            height: 3rem;
            width: 12rem;
            border-radius: 8rem;
        }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 0.01;
    }
    .line {
     top: 20%;
     position: absolute;
     background-color: #FFD65B;
     height: 1rem;
     width: 90%;
     margin: 3rem;
     }
     .container {
        width: 100vh;
        display: block;
        height: auto;
        padding: 0;
     }
     .item:nth-of-type(1) {
         display: none;
     }
     li.item {
         display: flex;
         flex-wrap: wrap;
         margin: auto;
     }
     a {
         font-size: 1rem;
     }
     .main {
         border-inline-start: none;
     }
 
     .logo-main {
         width: 7rem;
         position: absolute;
         top: 10%;
         margin: 2rem;
     }
     .txt-on {
         font-size: 4rem;
         color: white;
         position: absolute;
         top: 13%;
     }
     .txt-down {
         margin-left: 7%;
         padding: 1rem;
         font-size: 1rem;
         color: white;
         position: absolute;
         top: 28%;
         background-color:  rgb(31, 44, 48);
         border-radius: 1rem;
     }
     .item:nth-of-type(1) {
         text-align: start;
         margin-left: 6rem;
     }
     .nosotros {
         display: flex;
         flex-wrap: wrap-reverse;
         border-inline-start: none;
     }
     .nosotros img {
        height: 60vh;
    }
     .nosotros-txt {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    .nosotros-txt h1 {
        margin-top: 0.7rem;
        /* border: 3px solid red; */
        align-self: start;
        font-size: 4rem;

    }
    hr {
        height: 1rem;
        width: 100%;
        /* border: 3px solid red; */
    }
    .nosotros-txt h3 {
        margin-top: 1rem;
        /* border: 3px solid red; */
        align-items: justify;
        font-size: 2rem;
    }
     
     .como-funciona {
         height: 180vh;
         display: flex;
         flex-wrap: wrap;
         border-inline-start: none;
         align-items: center;
     }
     .item-2 {
         width: 100%;
     }
 
     .como-funciona h2{
         margin: auto;
         padding: 1rem;
     }
     .como-funciona hr {
         display: none;
     }
     .como-funciona img {
         width: 20%;
     }
     .last-section {
         display: flex;
         flex-wrap: wrap;
     }
     .last-section {
         width: 100%;
         height: 160vh;
         /* display: flex;
         flex-wrap: wrap; */
         background-image: url(./images/final.jpg);
         border-inline-end: none;
     }
     
         .item-3 {
             width: 100%;
         }
         .last-items:nth-of-type(1) {
            width: 95%;
       }
       .last-items:nth-of-type(1) hr {
        width: 95%;
        }
         .last-items:nth-of-type(2) {
         display: none;
         }
         .last-items:nth-of-type(3) {
             display: none;
        }
        .last-items:nth-of-type(4) hr {
            width: 90%;
        }
        .last-items:nth-of-type(5) {
            display: none;
        }

        .last-items:nth-of-type(6) {
            justify-self: start;
       }
}

